<h1>Sign In</h1>
<br>
<hr>
<form action="post" action="/auth/signin" class="form">
    <label for="email">Usernam Or Email : </label>
    <input class="input" type="email" id="email" name="email" value="Email">
    <br><br>
    <label for="password">Password : </label>
    <input class="input" type="password" id="password" name="password" value="12345">
    <br><br>
    <button class="btn">signin</button>
</form>
<hr>
<p>
    Don't have any account ? <a href="/auth/signup">Signup</a>
</p>