<h1>Sign Up</h1>
<br>
<hr>
<form action="post" action="/auth/signup" class="form">
    <label for="">Firstname : </label>
    <input class="input" type="text" id="email" name="email" value="firstname">
    <br><br>
    <label for="">Lastname : </label>
    <input class="input" type="text" id="email" name="email" value="lastname">
    <br><br>
    <label for="">Usernam : </label>
    <input class="input" type="text" id="email" name="email" value="usernam">
    <br><br>
    <label for="email"> Usernam Or Email : </label>
    <input class="input" type="email" id="email" name="email" value="Email">
    <br><br>
    <label for="password">Password : </label>
    <input class="input" type="password" id="password" name="password" value="12345">
    <br><br>
    <button class="btn">signin</button>
</form>
<hr>
<p>
    have a accound ? <a href="/auth/signin">Signup</a>
</p>