<div class="sign-form">
    <h1 class="sign-form-title">Sign In</h1>
    <br>
    <hr>
    <form method="post" action="/auth/signin" class="form">
        <label for="email">Username: </label>
        <input class="input" type="text" id="email" name="username" placeholder="username">
        <br><br>
        <label for="password">Password : </label>
        <input class="input" type="password" id="password" name="password" placeholder="••••••••">
        <br><br>
        <button type="submit" class="btn">Sign In</button>
    </form>
    <hr>
    <p>
        Don't have a account ? <a href="/auth/signup">Sign up</a>
    </p>
</div>