<h1>Sign Up</h1>
<br>
<hr>
<form action="post" action="/" class="form">
    <label for="">Firstname : </label>
    <input class="input" type="text" id="firstName" name="firstName" value="firstname">
    <br><br>
    <label for="">Lastname : </label>
    <input class="input" type="text" id="lastName" name="lastName" value="lastname">
    <br><br>
    <label for="">Username : </label>
    <input class="input" type="text" id="userName" name="userName" value="username">
    <br><br>
    <label for="email"> Email : </label>
    <input class="input" type="email" id="email" name="email" value="Email">
    <br><br>
    <label for="password">Password : </label>
    <input class="input" type="password" id="password" name="password" value="12345">
    <br><br>
    <button class="btn">Sign Up</button>
</form>
<hr>
<p>
    Already have a accound ? <a href="/auth/signin">Signup</a>
</p>