<form method="post" action="/playlist/{{playlist._id}}/release" class="form">

    <label for="image" class="label">choose a picture</label>
    <input class="image" type="file" id="image" name="image">

    <h1 class="title">Add some releases to the Playlist</h1>

    <label for="name" class="label">Release Name</label>
    <input class="input" type="text" id="releaseName" name="releaseName" placeholder="release name">

    <label for="name" class="label">Label Name</label>
    <input class="input" type="text" id="labelName" name="labelName" placeholder="label name">

    <label for="name" class="label">Country</label>
    <input class="input" type="text" id="country" name="country" placeholder="country">

    <label for="name" class="label">Year</label>
    <input class="input" type="text" id="year" name="year" placeholder="year">

    <label for="name" class="label">Discog's Link</label>
    <input class="input" type="text" id="discogsLink" name="discogsLink" placeholder="Discogs Link">

    <label for="name" class="label">Youtube</label>
    <input class="input" type="text" id="youtubeLink" name="youtubeLink" placeholder="Youtube Link">

    <button class="btn">Submit !</button>
</form>