<form method="post" action="/playlist" class="form">

  <h1 class="title">Create a Playlist</h1>

  <label for="name" class="label">Playlist Name</label>
  <input
    class="input"
    type="text"
    id="playlistname"
    name="playlistname"
    value="playlist name"
  />

  <label for="description" class="label">description</label>
  <textarea type="text" class="input" id="description" name="description">
    Describe your Playlist !
  </textarea>

  <label for="genre">Playlist genre</label>
  <select name="genre" id="genre" class="input">
    {{!-- <option value="-1" disabled selected>please select a genre</option>
        {{#each genres}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/each}} --}}
  </select>

  <button class="btn"> Add some tracks</button>
</form>