<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diggerz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/vtf-grotesk" type="text/css"/>
  </head>

  <body>
    <nav>
        <a href="/"><h1>Diggerz</h1></a>
        <div id="btn-container">
            <a href="/auth/signup">sign up</a>
            {{#unless isLoggedIn}}
            <a href="/auth/signin">sign in</a>
            {{/unless}}
            {{#if isLoggedIn}}
            <a  href="/auth/logout">log out</a>
            {{/if}}
            <a href="/profile">profile</a>
        </div>
    </nav>
    {{{body}}}
  </body>
</html>
