<div>
    {{#if public}}
    <h1>{{user.userName}}</h1>
    {{else }}
     <h1>{{currentUser.userName}}</h1>
    {{/if}}
    
    <img src="" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt omnis delectus voluptate nobis? Repellat
        expedita distinctio quam est odit! Ad sequi unde fuga aut dolores ullam, neque maxime corporis optio!
    </p>
    <a href="">Edit your profile</a>
</div>
<br>
<hr>
<br>
<div>
    <a href="/profile/create">Share a playlist</a>
    <a href="/profile/update/:id">Update a playlist</a>
</div>

