@import url("./images.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 80px;
    font-family: 'GroteskMedium';
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    /* position: fixed; */
}

body {
    background-color: rgb(21, 22, 23);
    color: whitesmoke;
}

nav > a {
    margin-left: 15px;
    text-decoration: none;
    color: black;
}

#btn-container {
    width: 400px;
    display: flex;
    justify-content: space-around;
    
}

#btn-container > a {
    text-decoration: none;
    color: black;
}

/* #main-pic {
    width: 850px;
    height: auto;
} */

#title-container {
    display: flex;
    justify-content: center;
    font-family: 'GroteskMedium';
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25px;
    height: 200px;
    font-size: 50px
}

#main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'GroteskMedium';
  color: white;
  width: 500px;
}

#title-container > h1, a {
  text-decoration: none;
}

#title:hover {
  color: goldenrod;
  text-decoration: none;
  cursor: pointer;
}

#style-filter {
    margin-top: 50px;
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start;
    border-right: 1px solid whitesmoke;
    max-width: fit-content;
    padding-right: 5px;
    float: left;
}

.filter-column {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items:center;
    margin-left: 30px;
    text-align: center;
    color: white;
}

.filter-column > span:hover {
    color: goldenrod;
    text-decoration: none;
    cursor: pointer;
  }

.genre-filter {
    display: flex; 
    flex-direction: row;  
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 2%;
    margin-left: 2%;
    font-family: 'GroteskMedium';
    font-size: 16px;
    width: 90%;
    height: 25px;
}

.playlist-card {
    width: 300px;
    height: 250px;
}

#playlist-wrapper > div {
    display: flex;
    flex-direction: row;
}

#playlist-container {
    width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    float: right;
    height: fit-content;
    width: fit-content;
}

/* .about-p {
    width: 500px;
    height: auto;
    text-align: justify;
    text-justify: inter-word;
}

#curriculum > h2 {
    font-family: 'GroteskMedium';
    font-weight: normal;
    font-style: normal;
}

#curriculum {
    margin-top: 5%;
    margin-left: 15%;
}

#about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
}

#music-container > h2, h3, span {
    font-family: 'GroteskMedium';
    font-weight: normal;
    font-style: normal;
}

#music-container {
    width: 640px;
    height: auto;
    text-align: justify;
    text-justify: inter-word;
}

#works {
    margin-top: 5%;
    margin-left: 15%;
}

.music-item {
    margin-top: 25px;
}

.installations-item {
    margin-top: 25px;
}

#xerrox-video {
    width: 640px;
    height: 360px;
}

#installations-container {
    margin-top: 50px;
    width: 640px;
    height: auto;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 50px;
}

#installations-container > h2 {
    font-family: 'GroteskMedium';
    font-weight: normal;
    font-style: normal;
} */




