<h1>Update-profile</h1>
<br>
<hr>
<form method="post" action="/auth/signup" class="form">
    <label for="">Firstname : </label>
    <input class="input" type="text" id="firstName" name="firstName" placeholder="firstname">
    <br><br>
    <label for="">Lastname : </label>
    <input class="input" type="text" id="lastName" name="lastName" placeholder="lastname">
    <br><br>
    <label for="">Username : </label>
    <input class="input" type="text" id="userName" name="userName" placeholder="username">
    <br><br>
    <label for="email"> Email : </label>
    <input class="input" type="email" id="email" name="email" placeholder="Email">
    <br><br>
    <label for="password">Password : </label>
    <input class="input" type="password" id="password" name="password" placeholder="••••••••">
    <br><br>
    <button type="submit" class="btn">Update</button>
</form>
<hr>
