<form method="post" action="/profile/release/{{release._id}}" class="form" enctype="multipart/form-data">

    <h1 class="title">Update your favorite release</h1>

    <label for="image" class="label">choose a cover</label>
    <input class="image" type="file" id="image" name="image">

    <label for="name" class="label">Release Name</label>
    <input class="input" type="text" id="releaseName" name="releaseName" placeholder="release name">

    <label for="genre">Playlist genre</label>
    <select name="genre" id="genre" class="input">
        <option value="">--Please choose an option--</option>
        <option value="acid">acid</option>
        <option value="techno">techno</option>
        <option value="industrial">industrial</option>
        <option value="trance">trance</option>
        <option value="deep">deep</option>
        <option value="ambient">ambient</option>
        <option value="DnB">DnB</option>
        <option value="dub">dub</option>
        <option value="electro">electro</option>
        <option value="IDM">IDM</option>
        <option value="experimental">experimental</option>
        <option value="hardcore">hardcore</option>
    </select>

    <label for="name" class="label">Label Name</label>
    <input class="input" type="text" id="labelName" name="labelName" placeholder="label name">

    <label for="name" class="label">Country</label>
    <input class="input" type="text" id="country" name="country" placeholder="country">

    <label for="name" class="label">Release year</label>
    <input class="input" type="text" id="releaseDate" name="releaseDate" placeholder="year">

    <label for="description" class="label">description</label>
    <textarea type="text" class="input" id="description" name="description"
    placeholder="Why this release ?"></textarea>

    <label for="name" class="label">Discog's Link</label>
    <input class="input" type="text" id="discogsLink" name="discogsLink" placeholder="Discogs Link">

    <label for="name" class="label">Youtube</label>
    <input class="input" type="text" id="youtubeLink" name="youtubeLink" placeholder="Youtube Link">

    <button class="btn">Submit your dig !</button>
</form>